<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <script src="__ROOT__/Public/js/jquery.1.10.2.js"></script>
    <script src="__ROOT__/Public/js/jquery-ui.js"></script>
    <script src="__ROOT__/Public/js/jquery.hotkey.js"></script>
    <script src="__ROOT__/Public/js/jquery.magnific-popup.min.js"></script>

    <link href="__ROOT__/Public/css/jquery-ui.css" rel="stylesheet">
    <link href="__ROOT__/Public/css/datong.css" rel="stylesheet">

    <title>{$Think.config.site_name}</title>
</head>
<body class="">
<header class="layout">
    <div class="header">
    <h1 style=""><a href="/Home/Product/Index">{$Think.config.site_name}</a></h1>
    </div>
    <div id="user" class="user">
        <li class="ui-state-default ui-corner-all" style="padding:3px 0;">
            <span class="ui-icon ui-icon-power"></span></li>
        欢迎：  {$Think.session.username} <a href="/Home/Login/logout" >登出</a>  系统时间: {$Think.now}
    </div>
    <div id="user_mobile" class="user_mobile">
        <span>{$Think.session.username} <a href="/Home/Login/logout" >登出</a></span>
    </div>
</header>

<aside class="layout">
    <li class="ui-state-default ui-corner-all" style="margin:4px;"><span class="ui-icon ui-icon-grip-diagonal-se"></span></li>
    <p style="padding:5px; margin:0; font-weight:bold; font-size:20px;">功能列表</p>

    <ul id="menu" class="ui-menu ui-widget ui-widget-content" role="menu" tabindex="0" aria-activedescendant="ui-id-21">
        <volist name="menu" id="vo">
            <li class="ui-menu-item"><a href="{$vo.url}">{$vo.item}</a></li>
        </volist>
    </ul>
</aside>

<section class="layout">
    <div class="content">
        {__CONTENT__}
    </div>
</section>

<script>
    $( "#menu" ).menu();
</script>
</body>
</html>